@import "tailwindcss";

.navbar li{
  align-items: center;
}

.navbar li a {
  font-weight: 600;
  color: white;
  padding-right: 50px;
}

.navbar li a:hover {
  font-weight: 600;
  color: #ffd230;
}

/* Custom Scrollbar Modern */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #0f172a;
}
::-webkit-scrollbar-thumb {
  background: #334155;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #475569;
}

/* Hide scrollbar for genre list if needed */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}
.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

:root {
  --waline-theme-color: #9333ea !important;
  --waline-active-color: #7e22ce !important;
}